{% extends "layout.html" %}
{% block body %}
<h2>About</h2>
<h3>Cobra</h3>
<p>This page documents Mike's construction of his 1965 Shelby Cobra.</p>

<br>
<h3>The Pilapse Project</h3>
<p>
  I wanted to document the building of this car with a time-lapse video but couldnt find any programs out there that I found adequate.  Thus, I decided to build my own using a Raspberry Pi Zero.  The major features provided by pilapse are as follows:
  <ul>
    <li>Still image capture and simulatenous video encoding</li>
    <li>Recording session labeling and timeline support</li>
    <li>Backup to a secondary server</li>
    <li>Video access and capture control via internally served web page.</li>
    <li>User authentication and new video notification</li>
  </ul>
  Pilapse is written in python and utilizes ffmpeg, sqlite, flask, jinja, and peewee. The source code is available on github as <a href="https://github.com/yoyomikeyc/pilapse">Pilapse</a> and is available for use, free of charge.
</p>
<img src="/static/pilapse.png" width="800" >

{% endblock %}
