{% extends "layout.html" %}
{% block body %}
<h2>Latest Video</h2>
<br>
<table border=0 width="100%">
  <tr style="vertical-align:bottom"><td>Capture state:<br>{{ stats.capture|safe }}</td>
    {% if stats.current_session %}
    <td>Session #{{ stats.current_session.id }}: ...<br>{{ stats.current_session.local_time_str(stats.current_session.started_at) }} {{ stats.current_session.duration(string=True) }} hours ({{ stats.current_session.num_frames() }} frames)</td>
    {% else %}
    <td></td>
    {% endif %}
    <td>Last video encoding:<br>{{ stats.update_time }}</td>
  </tr>
</table>
<video id=video_player style="display:block; margin: 0 auto;" width="640" height="480" class="center" controls>
  <source src="/videos/timelapse.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<center>
<select id='session_list' onchange='SelectScene(video_player,this)' style="width 200px;" size=8>
  {% for session in session_list.order_by(Sessions.started_at.asc()) %}
  <option value='0:{{ session.offset() }}' id=Session{{ session.id }} {% if session.id==1 %}selected{% endif %}>{{ session.offset(string=True) }} Session #{{ session.id}}: {{ session.description }}</option>
  {% endfor %}
</select>
</center>
<ul>
  {% for session in session_list.order_by(Sessions.started_at.desc()) %}
  <li>{% include "includes/session.html" %}</li>
  {% endfor %}
</ul>
{% include "includes/pagination.html" %}


<script type='text/javascript'>
  
  function getTime(opt) {
     minsec = opt.value.split(':');
     return parseFloat( minsec[0]*60 + minsec[1] );
  }
    
  var curScene = StartScene;
  var curSceneStart = getTime(StartScene);
  var curSceneEnd = getTime(SecondScene);
    
  function CheckForScene(pos) {
     if( curSceneStart <= pos && pos <= curSceneEnd ) return;
     curSceneEnd = 0; nextscene = scene = null;
     for(sno in Scenes.childNodes) { cn = Scenes.childNodes[sno]; if(cn.tagName=="OPTION") {
	scene = nextscene; nextscene = Scenes.childNodes[sno];
	curSceneStart = curSceneEnd; curSceneEnd = getTime(nextscene);
	if( curSceneStart <= pos && pos < curSceneEnd && scene ) {
		scene.selected = true;
		return;
	}
     }}
     curSceneStart = curSceneEnd; curSceneEnd = ReiherVideo.duration; scene = nextscene;
     if( curSceneStart <= pos && pos <= curSceneEnd && scene ) scene.selected = true;
   }

   var inited = false;
					
					function InitControls(video) {
					if(inited) return;
					videopos.max = video.duration - 1;
					videopos.style.width = video.videoWidth;  // video.offsetWidth || video.innerWidth;
					StartScene.selected = true;
					//videopos.style.width = ReiherVideoControls.offsetWidth || ReiherVideoControls.innerWidth;
					//video = document.querySelector("VIDEO");
					//videopos = document.getElementById("");
					inited = true;
					}
					
					var ratedelta = 0;
					var buttons = [ 'playbutton','fstbwdbut','fstfwdbut','snailbut' ];
					var savedicon = {};
					
					function PlayPause(video,but,rate) {
					if (video.paused||video.playbackRate + ratedelta != rate) PlayVideo(video,but,rate); else PauseVideo(video);
					}
					
					function RestoreButtons() {
					for(butno in buttons) { but_id = buttons[butno]; but = document.getElementById(but_id);
					if(but_id in savedicon) but.value = savedicon[but_id]; }
					}
					
					function PlayVideo(video,but,rate) {
					if(video.paused) video.play();
					video.playbackRate = rate;
					ratedelta = rate - video.playbackRate;
					RestoreButtons();
					if(!(but.id in savedicon)) savedicon[but.id] = but.value;
					but.value = String.fromCharCode('0x25AE','0x25AE');
					}
					
					function PauseVideo(video) {
					video.pause(); RestoreButtons();
					}
					
					function FrameStep(video,but,step) {
					PauseVideo(video);
					video.currentTime =  video.currentTime + step;
					UpdateTime(video);
					}
					
					function RewindVideo(video) {
					PauseVideo(video);
					video.currentTime =  0;
					UpdateTime(video);
					}
					
					function UpdateTime(video) {
					videopos.value = video.currentTime; CheckForScene(video.currentTime);}
					
					function GotoPos(video,newpos) {
					video.currentTime = newpos; CheckForScene(newpos); }
					
					function SelectScene(video,selector) {
					minsec = selector.value.split(':');
					video.currentTime = parseFloat( minsec[0]*60 + minsec[1] );
					UpdateTime(video);
					//PlayVideo(video,playbutton,1);
					}
					
					function Mute(video,but) {
					video.muted = !video.muted;
					but.style.color = video.muted ? 'silver' : 'black';
					}
					
					function AdjustVolume(video,value) {
					video.volume = value;
					VolumeTxt.innerHTML = Math.round(value*100)+'%'
					}
					
					</script>
{% endblock %}
